.g-menu__actions a {
    display: block;
    text-align: center;
    margin: 0.2em 0;
    padding: 0.3em;
    background: #f00;
    border-radius: 0.4em;
    max-width: 80%;
}
.g-supermenu {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--unibar-content-bg);
	width: 100%;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: 0.4s all ease;
	
	@include css((
		padding: (6em 0 0 0, 4em),
	));
	
	@include break('medium') {
		position: fixed;
	}
	.nav-is-open & {
		@supports (backdrop-filter:blur()) or (-webkit-backdrop-filter:blur()) {
			@include fix-property('backdrop-filter', 'blur(20px)');
			background: var(--unibar-content-bg-blur);
		}
		height: auto;
		min-height: 100vh;
		opacity: 1;
		width: 100%;
		z-index: 100;
	}
	.nav__content {
		width: 100%;
		position: relative;
		z-index: 2;

		@include break('medium') {
			display: flex;
		}
	}
	.panel--main-nav {
		@include break('medium') {
			width: 30%;
		}
	}
	.panel--etc {
		@include break('medium') {		
			width: 70%;
		}
	}
	.vassar-nav {
		margin: 0;
		padding: 0;
	}
	.vassar-nav__link {
		text-align: center;
		
		@include break('medium') {		
			text-align: left;
		}		
	}
}
